/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 20px;
}
/* PAGINATION */

.btnS {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 5px;
}
.download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* TABLE */
.body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.itemRow {
  width: 100%;
  background-color: #3f83f854;
}

.itemCell {
  text-align: center;
  padding: 10px;
}
.stickyTable {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  overflow-y: auto;
}

.stickyTable th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}
.itemCell p {
  font-style: italic;
}
/* -------------------FILTER---------------- */
.filterBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* ---Price--- */
.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.price p {
  font-weight: bold;
}
